*{
    font-family: 'Montserrat', sans-serif;
}

footer{
    background: #193653;
    color:white;
    display:flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 0 0 15px 15px;
}

footer div{
    display:flex;
    align-content: center;
    gap: 15px;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px !important;
    padding: 0 40px !important;
    background-color: white;
    border-bottom: 4px solid #1a8770;
}