/* estilos para la tarjeta de registro */
.tarjeta-personalizada {
    width: 100%;
    max-width: 650px;
    border-radius: 15px;
    background-color: #f1f4f4;
    border: none;
}

/* estilos exactos para el botón azul del SRAE */
.btn-srae {
    background-color: #162e54;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);

        font-family: 'Montserrat', sans-serif;

}

/* efecto opcional: Que el botón brille un poco al pasar el mouse */
.btn-srae:hover {
    background-color: #1a3663;
    color: white;
}

/* rstilos para los textos de los campos (labels)*/
.label-formulario {
    font-size: 0.9rem;
    color: #333333;
}

/* Estilos para las cajas de texto (inputs) */
.input-formulario {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
}


.input-formulario:focus {
    border-color: #162e54;
    box-shadow: 0 0 0 0.2rem rgba(22, 46, 84, 0.25); /*  resplandor azul  */
}


